<p>As a team leader and manager of a class V rafting company I am well versed in dealing with mission critical situations. I take ownership of situations as they arise, in the wilderness there is no time to small things to grow into big things. Every situation must be handled, and handled well, the success of the trip depends on it.</p>
<p>I spent many years working the wilderness taking folks out and keeping them safe, and managing the teams that do that. Empathy and companion are at the center of quality guiding, skills I look forward to bringing to my coding career.</p>
<p>I didn’t talk about it in my resume but I feel like I should mention here that my first language was basic. I wrote on and Apple IIe and I have dabbled with computers off and on ever since. In the 90’s I took time from my college degree path to take classes in things like C and Pascal. In the early 2000’s I maintained a Windows95 server based network for an Automotive company that I was working for. The last two years I’ve been working to bring my skills back around, first in Python, then Go and now in Elixir.</p>
<p>I enjoy a challenge and constant learning is an important aspect of my life. In the Wilderness constant evaluation of the situation around my trip and prioritizing based on that evaluation is just a part of the job. I look forward to bringing my problem solving skills and dynamic approach to life into my next endeavor.</p>
<p>One of my greatest frustrations as a manager has been in the software. The system I’ve been using the last several years is both slow with many expensive steps involved in my day to day tasks and not very efficient for my companies needs. I would really like to work with a software company to improve the experience of employees at outdoor recreation companies. Very few folks get into the outdoor recreation industry to spend a lot of time on the computer, yet computers are so integral to lives today. I want to help bridge that gap and build strong effective and efficient software.</p>
<p>Thanks for taking the time to read over my resume and Cover Letter and I hope to hear from you soon. Remember to smile it might hurt!!</p>
<p>Tom Peltier 661 619-5677 adrnlnjnky@protonmail.com adrnlnjnky@gmail.com gitlab.com/adrnlnjnky</p>
