<p><strong>Tom Peltier</strong></p>
<p>[Email:](<a
href="mailto:adrnlnjnky@protonmail.com">adrnlnjnky@protonmail.com</a><a
href="">)</a></p>
<p>661-619-5677</p>
<p><strong>Goal</strong></p>
<p>Join a passionate and motivated team where I can contribute and
grow</p>
<p><strong>Coding</strong></p>
<p>@. Elixir → My favorite language!</p>
<p>#. Phoenix</p>
<p>#. LiveView</p>
<p>@. Linux</p>
<p>*. The operating system I prefer.</p>
<p>@. Shell (bash &amp; zsh)</p>
<p>*. scripting simple tasks just saves time and brain space.</p>
<p>@. Go</p>
<p>*. I really enjoy this simple and powerful language</p>
<p>@. Git</p>
<p>@. Database SQL</p>
<p>Postgres</p>
<p>Mysql</p>
<p>@. Python</p>
<p>@. Lua</p>
<p>*. Python is everywhere so I had to learn it.</p>
<p>@. CSS</p>
<p>#. Tailwind</p>
<p>#. Bootstrap</p>
<p>*. Gotta be able to style those web pages1</p>
<p>@. HTML</p>
<p>*. Is it even an option not to know this language?</p>
<p>## Also (things I'm skilled with)</p>
<p>@. Windows</p>
<p>@. Spreadsheets (Excel)</p>
<p>@. Word processors</p>
<p>@. Networking</p>
<p><strong>Links:</strong></p>
<p><strong>Blog</strong>:
https://ecstatic-swirles-d8e8ec.netlify.app/</p>
<p><strong>GitLab</strong> https://www.gitlab.com/adrnlnjnky</p>
<p><strong>GitHub</strong> https://www.github.com/adrnlnjnky</p>
<p><strong>Linkedin</strong>
https://www.linkedin.com/li/tompeltierii</p>
<p><strong>Work History:</strong></p>
<p><strong>[Mountain and River Adventures](MTNRiver.com)</strong></p>
<p>*Guide Manager* March 2016 – March 2022</p>
<p>Accomplishments:</p>
<p>*. Successfully drove our client reviews to solid 5 stars.</p>
<p>*. Brought food costs down by 12%.</p>
<p>#. This was accomplished through leveraging simple technology.</p>
<p>(spreadsheets and python scripts)</p>
<p>*. Automated the payroll system</p>
<p>Duties:</p>
<p>*. Guide Recruiting</p>
<p>*. Guide Training (I think the hardest thing to teach is decision
making)</p>
<p>#. Reading and navigating whitewater</p>
<p>#. Swift water rescue</p>
<p>#. Boatman skills</p>
<p>#. Knot tying</p>
<p>#. Guide Person-ability</p>
<p>#. Client interaction</p>
<p>#. Cooking</p>
<p>*. Work scheduling for</p>
<p>#. Guides</p>
<p>#. Drivers</p>
<p>#. Food service personnel</p>
<p>#. Support staff</p>
<p>*. Meetings</p>
<p>#. Staff</p>
<p>#. Weekly management meetings</p>
<p>#. Morning Team Meetings with guides</p>
<p>#. Debriefs after trips</p>
<p>#. Client</p>
<p>#. Safety Briefings</p>
<p>#. Greeting and Orientation Meetings</p>
<p>#. Award Ceremonie</p>
<p>*. Create &amp; Run fleet maintenance Program</p>
<p>#. when I arrived fleet maintenance was fix it when it broke. The
company now has a functioning maintenance</p>
<p>program.</p>
<p>*. Payroll Generation and Oversight</p>
<p>*. Automate the payroll system</p>
<p>#. once again.. Everything was done by hand even though the software
sweet offered time tacking and software. I implemented the time tracking
software for the company and worked with accounting to make it all
happen smoothly.</p>
<p>*. Build in-house web application for Warehouse tasks and Guide
information</p>
<p>*. first in Go and then in Elixir</p>
<p>$. this was a fun little project with chores, to-dos in checklists as
well as an online copy of our schedule</p>
<p>*. Supervise Guide Post-trip (debrief) meetings</p>
<p>*. Conflict resolution</p>
<p>*. Update Guide Manual regularly</p>
<p>*. Any other responsibility that gets thrown at the side of my
barn.</p>
<p>*. Lead by being a good example</p>
<p><strong>[White Water Voyages](www.whitewatervoyages.com)2009 -
2016</strong></p>
<p>Mentor River Guide</p>
<p>*. Lead Teams of guides and clients on wilderness river trips</p>
<p>#. Logistics for Transportation, Equipment, and Food</p>
<p>*. Train guides</p>
<p>*. Run Meetings</p>
<p>#. I successfully ran meeting to inspire and excite our staff to a
five star reviews.</p>
<p>*. Team Leader</p>
<p>*. Lead by being a good example</p>
<p><strong>[Kern River Outfitters](Kern River Outfitters) 2007 -
2008</strong></p>
<p>Mentor River Guide</p>
<p>*. Lead Teams of guides and clients on wilderness river trips</p>
<p>#. Logistics for Transportation, Equipment, and Food</p>
<p>*. Train guides</p>
<p>*. Run Meetings</p>
<p>#. I successfully ran meeting to inspire and excite our staff to a
five star reviews.</p>
<p>*. Team Leader</p>
<p>*. Lead by being a good example</p>
<p><strong>[Kern River Tours](Kern River Tours) Seasons march 2005 -
2007</strong></p>
<p>Senior River Guide 2005 – 2007</p>
<p>*. Lead Teams of guides and clients on wilderness river trips</p>
<p>#. Logistics for Transportation, Equipment, and Food</p>
<p>*. Train guides</p>
<p>*. Run Meetings</p>
<p>#. I successfully ran meeting to inspire and excite our staff to a
five star reviews.</p>
<p>*. Team Leader</p>
<p>*. Lead by being a good example</p>
<p><strong>[United States Forrest Service](United States Forrest
Service)</strong></p>
<p>Summer season 1999</p>
<p>title: Forrest Ranger</p>
<p>#. Maintain Forrest Service Presence on the river</p>
<p>#. Interact with the public</p>
<p>#. Interact with the permit holders</p>
<p>#. Write the Policies and Procedures for the River Ranger
Position</p>
<p>a. During my time here I co-authored the manual for standards and
practices of a ranger for the Kern River.</p>
<p><strong>[Chuck Richards Whitewater](Chuckrichards.com) Seasons from
1993 thru 1998</strong></p>
<p>Guide to Senior Guide</p>
<p>*. Lead Teams of guides and clients on wilderness river trips</p>
<p>#. Logistics for Transportation, Equipment, and Food</p>
<p>*. Train guides</p>
<p>*. Run Meetings</p>
<p>#. I successfully ran meeting to inspire and excite our staff to a
five star reviews.</p>
<p>*. Team Leader</p>
<ul>
<li><p>*. Lead by being a good example</p></li>
</ul>
<p><strong>## Off River Jobs</strong></p>
<p>Golden Automotive – Aug 2000 – March 2005</p>
<p>*. Maintain Network (Windows NT)</p>
<p>*. Service Writer</p>
<p>Ashe Electrical - Aug 2013 - spring 2015</p>
<p>electrical work</p>
<p>(Company moved to Tennessee)</p>
<p>Skinny Guy Plumbing - Aug 2008 - Spring 2013</p>
<p>plumbing work</p>
<p>(Owner has since retired and moved away)</p>
<p>Red Bud Construction - Sept 2010 - Spring 2015</p>
<p>finish carpentry</p>
<p>tile</p>
<p>water proofing</p>
<p><strong># Our Company</strong></p>
<p><strong>## Kern River Essentials</strong></p>
<p>Job Title: Co-owner</p>
<p>What Kern River Essentials offer:</p>
<p>*. Home Automation</p>
<p>#. System design</p>
<p>We like to use Raspberry Pi’s to build cameras and such.</p>
<p>#. System installation</p>
<p>*. Construction Projects</p>
<p>*. Bees wax based creams and lotions</p>
