<div id="myinfo" class="text-center">
<p>Tom Peltier <a href="adrnlnjnky@protonmail.com">Email:</a></p>
</div>
<div class="container">
<section id="goal" class="text-center">
<h1>Goal</h1>
</section>
<div class="text-left">
<p>In a never ending quest to improve myself and learn new things, my goal is to become an excellent programmer. I am seeking a job where I can grow as a programmer and a person. While my primary job has not been in computers I have maintained networks for automotive companies, build computers from scratch for people and companies, written thousands of lines of code in the quest to learn new languages and solve problems with code.</p>
</div>
</div>
<section id="coding" class="container col-8 offset-2">
<h1>Coding</h1>
<ol class="example" type="1">
<li>Linux<br> *. The operating system I prefer.</li>
<li>Bash<br> <em>. I’m actually using ZSH at the momment </em>. scripting simple tasks just saves time and brain space.</li>
<li>Go<br> *. I really enjoy this simple and powerful language</li>
<li>Python<br> *. Python is everywhere so I had to learn it.</li>
<li>CSS<br> *. Gotta be able to style those web pages1</li>
<li>HTML<br> *. Is it even an option not to know this language?</li>
<li>Elixir<br> <em>. Functional programming is super cool </em>. This is my first dive into frameworks 0. Learning Phoenix and LiveView</li>
</ol>
<h2 id="also-things-im-skilled-with">Also (things I’m skilled with)</h2>
<ol start="8" class="example" type="1">
<li>Windows</li>
<li>Spreadsheets (Excel)</li>
<li>Word processors</li>
</ol>
</section>
<section id="links" class="phx-hero col-8 offset-2 flexbox-down">
<h2>Links</h2>
<p><a href="https://ecstatic-swirles-d8e8ec.netlify.app/">Blog:</a></p>
<p><a href="https://www.gitlab.com/adrnlnjnky">GitLab</a></p>
<p><a href="https://www.github.com/adrnlnjnky">GitHub</a></p>
</section>
<div class="container">
<div class="text-center">

<p><br></p>
<h1 id="work-history">Work History:</h1>
<hr>
</div>
<div class="text-left offset-1">
<section id="river-guiding" class="text-right">
<h2>River Guiding:</h2>
</section>
<p><a href="MTNRiver.com">Mountain and River Adventures</a></p>
<p><em>Operations Manager</em> March 2019 - Present</p>
<p>Duties:</p>
<p><em>. Guide Recruiting </em>. Guide Training #. Swift water rescue #. Boatman skills #. Knot tying #. Guide Personability #. Client interaction #. Cooking <em>. Work scheduling for #. Guides #. Drivers #. Food service personnel #. Support staff </em>. Weekly management meetings <em>. Create &amp; Run fleet maintenance Program </em>. Automate the payroll system <em>. Build in-house web application for Warehouse tasks and Guide information </em>. first in Go and then in Elixir <em>. Supervise Guide Post-trip (debrief) meetings </em>. Conflict resolution <em>. Update Guide Manual regularly </em>. Payroll Generation and Oversight *. Any other responsibility that gets thrown at the side of my barn.</p>
<p><strong>Lead River Guide</strong> - Seasonal 2017 - 2018</p>
<p><em>. Train guides </em>. Team Leader <em>. Involved in meetings </em>. Lead by being a good example</p>
<p><a href="www.wwv.com">WhiteWaterVoyages</a>2015 - 2017</p>
<pre><code>Mentor River Guide</code></pre>
<p><em>. Train guides </em>. Team Leader <em>. Involved in meetings </em>. Lead by being a good example</p>
<p><a href="Mtnriver.com">Mountain and River Adventures</a> 2009 - 2013</p>
<pre><code>Mentor River Guide</code></pre>
<p><em>. Train guides </em>. Team Leader <em>. Involved in meetings </em>. Lead by being a good example</p>
<p><a href="Kern%20River%20Outfitters">Kern River Outfitters</a> 2007 - 2008</p>
<pre><code>Mentor River Guide</code></pre>
<p><a href="Kern%20River%20Tours">Kern River Tours</a> Seasons march 2005 - 2007</p>
<p>Senior River Guide 2005 - 2007</p>
<p><a href="United%20States%20Forrest%20Service">United States Forrest Service</a></p>
<p>Summer season 1999 title: Forrest Ranger (although this isn’t “guiding”, I spent my time on the river and interacting with the rafting companies, commercial guides, private boaters and the general public accessing the river for day use or camping.)</p>
<ol>
<li>Maintain Forrest Service Presence on the river</li>
<li>Interact with the public</li>
<li>Interact with the permit holders</li>
<li>Write the Policies and Procedures for the River Ranger Possition ( I was one of the first in the program and we wrote the book on how to do the job)</li>
</ol>
<p><a href="Chuckrichards.com">Chuck Richards Whitewater</a> Seasons from 1993 thru 1998</p>
<p>Guide to Senior Guide</p>
<h2 id="off-river-jobs">Off River Jobs</h2>
<p><br></p>
<p>Ashe Electrical - Aug 2013 - spring 2015 electrical work (Company moved to Tennesee)</p>
<p>Skinny Guy Plumbing - Aug 2008 - Spring 2013 plumbing work (Owner has since retired and moved away)</p>
<p>Stone Contracting - Sept 2010 - Spring 2015 finish carpentry tile water proofing</p>
<p>Golden Automotive - Dec 2000 - March 2005</p>
<pre><code>Service Writer
General Manager
(Owners retired and closed up shop)</code></pre>
<p>Oil Lube Express Plus - Sept 1999 - Dec 2000</p>
<pre><code>Service Writer
General Manager
(Went out of business, was absorbed by a larger company)</code></pre>
<p>Eye St. Automotive - parts runner/floor sweeper oil change tech</p>
<p>DGoodelle Inc. Envelope stuffer - 1989 - 1993 self appointed assistant to the computer/network guy - I pretty much annoyed the networking guy all day trying to learn about what he was doing and how computers worked. The company got lots of free hours out of me and I got to run a lot of wires and assemble a bunch of old computers. Felt like learning to me.</p>
<p>Country AMC JEEP Summers 1987 - 1988 car washers assistant car washer parts runner (internal) parts inventory logger</p>
<section id="our-company" class="col-8">
<h1>Our Company</h1>
<section id="kern-river-essentials" class="text-lg row-2">
<h2>Kern River Essentials</h2>
</section>
<div class="offset-2">
<pre><code>Job Title: Co-owner</code></pre>
<p>What we offer:</p>
<pre><code>Construction work
handyman work
massage therapy
lotions, creams, chap-sticks
necklaces and jewelry
Home Automation
  #. System design
  #. System instalation</code></pre>
<p>Types of Construction Gigs…</p>
<pre><code>Plumbing:
    full house plumbing - re-pipes
    septic system diagnostic and repairs
    plumbing leak repairs
    plumbing propane lines install
    plumbing propane/gas line diagnostic and repair

Electrical:
    home electrical panel upgrades
    home electrical rewires
    Home electrical troubleshooting

Tile
    Full house tile jobs
    Bathroom tile
    Kitchen tile

Waterproofing
    custom waterproofing for showers and custom baths
    bathroom renovations

Carpentry
    staining and installing custom built cabinets
    finish carpentry
    framing

Masonry
    exterior house rockings(decorative masons work)
    Mailbox building and repairing

Drywall
    Full house install and taping
    Repair Work
    Renovation Work

Paint</code></pre>
</div>
</section>
</div>
</div>
